.landing-section {
  .back-bg {
    background: url("../images/banner.jpg") no-repeat center center;
    background-size: cover;
  }
}
.btn-primary {
  @apply bg-[#e50914] rounded text-white px-4 py-1 font-medium text-sm inline-flex justify-center items-center;
}
.container-fluid {
  // @apply max-w-screen-xl mx-auto px-5;
}

.footer {
  ul li {
    margin-bottom: 1rem;

    span {
      cursor: pointer;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background-color: #ffffff;
        right: 0;
        bottom: -2px;
        opacity: 1;
        transition: 0.5s;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
        left: 0;
      }
    }
  }
}

.home__banner {
  position: relative;
  height: 100%;
  height: 100vh;
  object-fit: contain;
  .fade {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0%;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
  .banner__button {
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    &:hover {
      color: #000;
      background-color: #e6e6e6;
      transition: all 0.2s;
    }
  }
}
