// Create Dynamic Buttons for Hovers
$primary-hover: #c65f12;
$secondary-hover: #dde0e2;
$success-hover: #099885;
$danger-hover: #c82b0a;
$warning-hover: #d29c40;
$info-hover: #3a70cb;
$dark-hover: #4d5d6f;
$light-hover: #cfd1d4;
$btn-hover-colors: (
        "primary": $primary-hover,
        "secondary": $secondary-hover,
        "success": $success-hover,
        "info": $info-hover,
        "warning": $warning-hover,
        "danger": $danger-hover,
        "light": $light-hover,
        "dark": $dark-hover
);
// * For Buttons and its hover
@each $color, $value in $theme-colors {
  .btn-#{$color}, .btn-#{$color}:is(.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show) {
    background-color: #{$value};
    border: #{$value};
  }
}

@each $color, $value in $btn-hover-colors {
  .btn-#{$color}:hover {
    background-color: #{$value};
    border: #{$primary};
    box-shadow: none;
    border: #{$value};
  }
}
