* {
  // outline: 1px solid red;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #{$light-gray-400};
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #{$light-gray-900};
}

.layout-wrapper {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
// * CSS For Header
.search-field {
  position: relative;
}

.search {
  padding-right: 50px;
}

.search-field .bi-search {
  position: absolute;
  top: 9px;
  right: 20px;
  //left: 10px;
}

.nav-bg {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.justify-paragraph {
  word-break: break-all;
  text-align: justify;
}

.loader-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.left-50 {
  left: 50%;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border: 0.35rem solid #{$primary};
  border-right-color: transparent;
}

// * Login Page CSS
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .show-btn {
    top: 1px;
    right: 6%;
  }
}

// * ProductList Page
.product-img {
  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .skeleton {
    height: 200px !important;
  }
}

.card-animate {
  transition: all 0.4s;
  overflow: hidden;

  &:hover {
    transform: translateY(calc(-1.5rem / 5));
    box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  }
}

.footer {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  margin-top: 1rem;
}

// * BackImgSlider
.slider-img {
  width: 100%;

  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .slider-img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

.home {
  z-index: 50;
}

.product-details {
  .product-details-img {
    height: 400px !important;
    width: 100% !important;
    object-fit: contain;
  }

  .skeleton {
    height: 400px !important;
    width: 100% !important;
  }
}

.table {
  border: 1px solid blue !important;
}

th {
  border-bottom: solid 3px red;
  background: aliceblue;
  color: black;
  font-weight: bold;
}

td {
  padding: 10px;
  border: solid 1px gray;
  background: papayawhip;
}

// * Cart OffCanvas
.cart-canvas {
  .c-borderbottom {
    border-bottom: 1px solid #{$light-gray-400};
  }
}