html {
  position: relative;
  min-height: 100%;
}

body {
  transition: all 0.3s linear;
  font-family: $font-family-secondary;
  color: var(--ecm-body-color) !important;
  background-color: var(--ecm-body-bg) !important;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6) {
  color: var(--ecm-heading-color);
  font-family: $heading-font-family;
}

h1,
.h1 {
  font-size: $h1-font-size;
}

h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
}

h5,
.h5 {
  font-size: $h5-font-size;
}

h6,
.h6 {
  font-size: $h6-font-size;
}

button,
a {
  outline: none !important;
  position: relative;
  text-decoration: none !important;
}

.form-control,
.form-control:focus {
  outline: 0;
  border: 1px solid #ced4da;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.0509804) !important;
}

.form-select {
  background-color: var(--#{$prefix}gray-200) !important;
  border-color: var(--#{$prefix}border-color) !important;
}

.offcanvas.offcanvas-end {
  width: 500px;
}

.form-control.is-valid:focus {
  border-color: #0ab39c;
  box-shadow: 0 0 0 0 rgba(10, 179, 156, 0.25);
}

.form-control.is-invalid:focus {
  border-color: #eb320c;
  box-shadow: 0 0 0 0 rgba(235, 50, 12, 0.25);
}

.card-title,
.navbar-brand,
.navbar-nav,
.nav-link {
  color: var(--ecm-body-color) !important;
}

.nav-link.active {
  color: #{$primary} !important;
}

.card-body {
  color: var(--ecm-body-color) !important;
}