.swiper-button-prev,
.swiper-button-next {
  color: $light-gray-600 !important;
}

.swiper-pagination-bullet {
  background-color: $light-gray-400 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $light-gray-900 !important;
}
