[data-layout-mode="dark"] {
  $dark-gray-100: #1a1d21;
  $dark-gray-200: #212529;
  $dark-gray-300: #2a2f34;
  $dark-gray-400: #878a99;
  $dark-gray-500: #adb5bd;
  $dark-gray-600: #bfc8e2;
  $dark-gray-700: #ced4da;
  $dark-gray-800: #eff2f7;
  $dark-gray-900: #f3f6f9;

  $body-dark-bg: $dark-gray-100;
  $body-dark-color: $dark-gray-600;
  $heading-dark-color: $dark-gray-900;
  --#{$prefix}-body-color: #{$body-dark-color};
  --#{$prefix}-body-bg: #{$body-dark-bg};
  --#{$prefix}-heading-color: #{$heading-dark-color};

  body {
    // transition: all 0.9s linear;
  }

  .nav-bg,
  .footer,
  .offcanvas {
    background-color: #272b30;
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  }

  .light-dark-mode .bi-moon::before {
    content: "\f1d2";
  }

  /*  .navbar-nav .nav-link,
  .navbar-brand {
    color: var(--ecm-body-color) !important;
  } */

  .form-control {
    background-color: #{$dark-gray-200};
    outline: #{$light-gray-600};
    border: #{$light-gray-600};
    color: #{$light-gray-200};
  }

  .form-control::placeholder {
    color: #{$light-gray-600};
  }

  .card {
    background-color: $dark-gray-300 !important;
  }

  .card-title {
    color: #{$dark-gray-600};
  }

  .footer-details {
    ul li span::after {
      background-color: #{$dark-gray-600};
    }
  }
}