[data-layout-mode="dark"] {
  $dark-gray-100: #1a1d21;
  $dark-gray-200: #212529;
  $dark-gray-300: #2a2f34;
  $dark-gray-400: #878a99;
  $dark-gray-500: #adb5bd;
  $dark-gray-600: #bfc8e2;
  $dark-gray-700: #ced4da;
  $dark-gray-800: #eff2f7;
  $dark-gray-900: #f3f6f9;

  $body-dark-bg: $dark-gray-100;
  $body-dark-color: $dark-gray-600;
  $heading-dark-color: $dark-gray-900;
  --#{$prefix}-body-color: #{$body-dark-color};
  --#{$prefix}-body-bg: #{$body-dark-bg};
  --#{$prefix}-heading-color: #{$heading-dark-color};

  body {
    transition: all 0.3s linear;
  }

  .secondary-bg {
    background-color: #{$dark-gray-300};
  }

  .text-muted {
    color: #{$dark-gray-500} !important;
  }

  // * Some Common CSS
  .heading-title h3 {
    transition: all 0.3s linear;
    background: #1a1d21;
  }

  .heading-title::after {
    border-top: 3px solid #{$dark-gray-600};
  }

  .border-bottom {
    border-bottom: 1px solid #bfc8e2 !important;
  }
  .border-top {
    border-top: 1px solid #bfc8e2 !important;
  }
  // * Navbar
  .navbar {
    .navbar-toggler {
      border: 1px solid rgba(191, 200, 226, 0.5);
      &:focus {
        box-shadow: 0 0 0 0.15rem rgba(191, 200, 226, 0.5) !important;
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(191, 200, 226, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
      }
    }
  }
  .nav-bg,
  .footer,
  .offcanvas {
    background-color: #272b30;
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
  }

  .light-dark-mode .bi-moon::before {
    font-size: 22px;
    content: "\f1d2";
  }

  .form-control {
    background-color: #{$dark-gray-200};
    outline: #{$light-gray-600};
    border: #{$light-gray-600};
    color: #{$light-gray-200};
  }

  .form-control::placeholder {
    color: #{$light-gray-500};
  }

  .form-select {
    background-color: #{$dark-gray-300} !important;
    border: #{$dark-gray-800} !important;
    color: #{$dark-gray-600} !important;
  }

  .card {
    background-color: $dark-gray-300 !important;
    .card-body {
      .heading-title {
        h3 {
          transition: all 0.3s linear;
          background: $dark-gray-300;
        }
      }
    }
  }
  .list-group {
    // border: 1px solid white !important;

    .list-group-item {
      color: inherit !important;
      border: 1px solid #464748 !important;
      background-color: #272b30 !important;
    }
  }

  .card-title {
    color: #{$dark-gray-600};
  }

  // * Footer
  .footer-details {
    ul li span::after {
      background-color: #{$dark-gray-600};
    }
  }

  // * Review
  .reviews {
    background-color: #{$dark-gray-300};
    .review-user {
      background: #{$dark-gray-200};
    }
  }

  // * Product Details Page
  .product-details {
    .nav-tabs {
      border-bottom: 1px solid #bfc8e2 !important;
    }
    .product-custom-tabs {
      .nav-tabs .nav-link.active ::after {
        border-bottom: 2px solid #{$dark-gray-900};
      }

      .nav-tabs .nav-link .title {
        color: #{$dark-gray-400} !important;
      }

      .nav-tabs .nav-link.active .active-title {
        color: #{$dark-gray-900} !important;
      }
    }
  }

  // * Common Product Card For All
  .custom-productcard {
    background-color: #{$dark-gray-300};
    border: 1px solid #{$dark-gray-100};

    &:hover {
      box-shadow: 0px 4px 10px rgba(1, 15, 28, 0.14);
      border-color: #{$dark-gray-300};
    }
  }
  // * For React Select
  .custom-select-container .react-select-container .custom-react-select__menu {
    background-color: $dark-gray-200;
  }
  // * Cart Page
  .cart-section {
    .cart-quantity {
      background-color: $dark-gray-200;
    }
  }
  // * Order List
  .order-list {
    table {
      color: inherit !important;
      --bs-table-hover-color: #{$dark-gray-900};
      --bs-table-hover-bg: #{$dark-gray-200};
      td,
      th {
        padding: 1.5rem 1rem !important;
      }
    }
  }
  // * All Products Page
  .allproducts {
    .ant-pagination {
      color: inherit !important;
      .ant-pagination-item-active {
        background-color: $dark-gray-300 !important;
        border-color: $dark-gray-300 !important;
      }
    }
  }
}
