$variable-prefix: ecm; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;
// * For Font Family
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Poppins", sans-serif;
// $font-family-primary: "Poppins", sans-serif;
// $font-family-primary: "Rubik", sans-serif;
// $font-family-secondary: "Rubik", sans-serif;
$heading-font-family: $font-family-primary;

$heading-color: #343a40;
// * Main Theme Colors
$primary: #e97015;
$secondary: #2e4056;
$success: #0ab39c;
$info: #4484ef;
$warning: #f7b84b;
$danger: #eb320c;
$light: #f3f6f9;
$dark: #2e4056;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// * Dark Theme Colors
$light-gray-100: #f3f6f9;
$light-gray-200: #eff2f7;
$light-gray-300: #e9ebec;
$light-gray-400: #ced4da;
$light-gray-500: #adb5bd;
$light-gray-600: #878a99;
$light-gray-700: #495057;
$light-gray-800: #343a40;
$light-gray-900: #2e4056;
$white: #ffffff;
$black: #000000;

// Body Color
$body-color: $light-gray-900;
$body-bg: $light-gray-100;
// body
:root {
  --#{$prefix}-body-color: #{$body-color};
  --#{$prefix}-body-bg: #{$body-bg};
  --#{$prefix}-heading-color: #{$heading-color};
  --swiper-theme-color: #{$primary} !important;
}

// For Dynamic Font Sizes
$font-size-mixing: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
  25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 48;
@each $font-size-mixing in $font-size-mixing {
  .fs-#{$font-size-mixing} {
    font-size: #{$font-size-mixing}px !important;
  }
}

$font-weight: 300, 400, 500, 600, 700, 800, 900;
@each $font-weight in $font-weight {
  .fw-#{$font-weight} {
    font-weight: #{$font-weight} !important;
  }
}

@each $color, $value in $theme-colors {
  .text-#{$color} {
    color: #{$value} !important;
  }
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: #{$value} !important;
  }
}

// For Custom Heading Font Sizes
$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
