$variable-prefix: ecm; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;
// * For Font Family
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Rubik', sans-serif;
$heading-font-family: $font-family-primary;
$heading-color: #495057;
// * Main Theme Colors
$primary: #E97015;
$secondary: #D7DADD;
$success: #0ab39c;
$info: #4484EF;
$warning: #f7b84b;
$danger: #eb320c;
$light: #f3f6f9;
$dark: #2E4056;
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);
// * Dark Theme Colors
$white: #fff;
$light-gray-100: #f3f6f9;
$light-gray-200: #eff2f7;
$light-gray-300: #e9ebec;
$light-gray-400: #ced4da;
$light-gray-500: #adb5bd;
$light-gray-600: #878a99;
$light-gray-700: #495057;
$light-gray-800: #343a40;
$light-gray-900: #2E4056;
$black: #000;


// Body Color
$body-color: $light-gray-900;
$body-bg: #f3f3f9;
// body
:root {
  --#{$prefix}-body-color: #{$body-color};
  --#{$prefix}-body-bg: #{$body-bg};
  --#{$prefix}-heading-color: #{$heading-color}

}

// For Dynamic Font Sizes
$font-size-mixing: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 36, 48;
@each $font-size-mixing in $font-size-mixing {
  .fs-#{$font-size-mixing} {
    font-size: #{$font-size-mixing}px !important;
  }
}

// Create Dynamic Buttons for Hovers
$primary-hover: #c65f12;
$secondary-hover: #dde0e2;
$success-hover: #099885;
$danger-hover: #c82b0a;
$warning-hover: #d29c40;
$info-hover: #3a70cb;
$dark-hover: #4d5d6f;
$light-hover: #cfd1d4;
$btn-hover-colors: (
        "primary": $primary-hover,
        "secondary": $secondary-hover,
        "success": $success-hover,
        "info": $info-hover,
        "warning": $warning-hover,
        "danger": $danger-hover,
        "light": $light-hover,
        "dark": $dark-hover
);
// * For Buttons and its hover
@each $color, $value in $theme-colors {
  .btn-#{$color}, .btn-#{$color}:is(.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show) {
    background-color: #{$value};
    border: #{$value};
  }
}

@each $color, $value in $btn-hover-colors {
  .btn-#{$color}:hover {
    background-color: #{$value};
    border: #{$primary};
    box-shadow: none;
    border: #{$value};
  }
}

// For Custom Heading Font Sizes
$font-size-base: 0.9rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;