@import url("./reset.css");

* {
    --cs-dark: #1a1a1a;
    --cs-light-dark: #404040;
    --cs-whitesmoke: #f8f8f8;
    --cs-gray: #f2f2f2;
    --cs-green: #00a82d;
    --cs-white: #ffffff;
    --primary-color: #fb3640;
    --font-family: "Poppins", sans-serif;
    /*     --font-family: 'Inter',
        sans-serif; */
}

body {
    font-family: var(--font-family);
}

.min-100vh {
    min-height: 100vh;
}

.nav-bg {
    background-color: var(--cs-dark);
}

.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
}

.back-bg {
    background-color: var(--cs-whitesmoke);
}