:root {
    --primary-color: #0f171e;
    --secondary-color: #1a242f;
    --font-primary: #ffffff;
    --font-secondary: #8bb5dc;
}

* {
    font-family: 'Poppins', sans-serif;
}

.avatar-xxs {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-xs {
    height: 2rem;
    width: 2rem;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.avatar-xl {
    height: 7.5rem;
    width: 7.5rem;
}

.home-img {
    height: 350px;
}

.home-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.primary-bg {
    background-color: var(--primary-color) !important;
}

.secondary-bg {
    background-color: var(--secondary-color) !important;
}

.primary-text {
    color: var(--font-primary) !important;
}

.secondary-text {
    color: var(--font-secondary) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-nav .nav-link.active,
.navbar-brand {
    color: white !important;
}

.min-vh-100 {
    min-height: 100vh;
}